:root {
  --accent-color: #ffffff;
  --section-two-title-color: #2e2f42;
  --color-main-p: #2e2f42;
  --accent-color-p: #434455;
  --section-one-button: #4d5ae5;
  --footer-social: #ffffff;
  --foter-icon: #4d5ae5;
  --foter-icon-svg: #f4f4fd;
  --section-five-title: #2e2f42;
  --section-five-a: #8e8f99;
  --secondary-text-color-theme-dark: #2e2f42;
  --modal-form-p: #2e2f42;
  --modal-label: #8e8f99;
  --modal-chackbox: #8e8f99;
  --modal-policy: #4d5ae5;
  --modal-span-policy: #404bbf;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
/* Header */

.display-header {
  display: flex;
}

.page-header {
  background: #ffffff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-address {
  display: flex;
  gap: 40px;
}

.menu-item {
  padding: 24px 0;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.active-page {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-page::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  margin-top: 24px;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.button-all {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.adress {
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-tel {
  display: none;
}

.contact-tel {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-tel:hover,
.contact-tel:focus {
  color: #404bbf;
}

.my-header-studio {
  color: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--accent-color);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  top: 0px;
  left: 0px;
  opacity: 0px;
  visibility: hidden;
  pointer-events: none;
}

/* .burger {
  border: 3px solid #2e2f42;
  background-color: transparent;
  padding: 0px;
  margin-right: 18px;
} */

/* sections */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-one {
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
}

.section-one-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;

  height: 120px;
  left: 472px;
  top: 260px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.section-one-button {
  background-color: var(--section-one-button);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one-button:hover,
.section-one-button:focus {
  background-color: #404bbf;
  border: none;
}

.title-one {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--section-two-title-color);
  margin-bottom: 8px;
}

.section-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color-p);
  margin-bottom: 8px;
}
*/

/* title-two */

 .section-two-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.section-two {
  padding: 120px 0;
}

.section-two-menu {
  display: flex;
  gap: 24px;
}

.about {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-us {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-two-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--section-two-title-color);
  margin-bottom: 8px;
}

.section-two-li {
  width: calc((100% - 72px) / 4);
}

/* section three */

/*.section-three {
  padding-bottom: 120px;
}

.section-three-h {
  margin-bottom: 72px;
}

.section-three-ul {
  display: flex;
  gap: 24px;
}

.section-three-li {
  width: calc((100%-48px) / 3);
}

.section-thry-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--section-two-title-color);
}

/* section-four */

.section-four {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-four-h-title {
  margin-bottom: 72px;
}

.section-four-name {
  padding: 32px 0;
}

.section-four-vector {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-four-vector-li {
  width: 40px;
  height: 40px;
}

.section-four-vector-a {
  width: 100%;
  height: 100%;
  background-color: var(--foter-icon);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-vector-a:hover,
.section-four-vector-a:focus {
  background-color: #404bbf;
}

.section-four-hthree {
  text-align: center;
  margin-bottom: 8px;
}

.section-four-p {
  text-align: center;
}

.section-four-menu {
  display: flex;
  gap: 24px;
}

.section-four-li {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*---------  section-five--------*/

.section-five {
  padding: 120px 0;
}

.section-five-title {
  font-size: 36px;
  line-height: 1.1;
  color: var(--section-five-title);
  margin-bottom: 72px;
  text-align: center;
}

.section-five-menu {
  display: flex;
  gap: 24px;
}

.section-five-li {
  width: calc((100%-120px) / 6);
  height: 88px;
}

.section-five-a {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--section-five-a);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-five-a:hover {
  border-color: #404bbf;
  color: #404bbf;
}

.section-five-a:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.section-five-svg {
  fill: currentColor;
}

.section-five-svg:focus {
  border-color: #404bbf;
  color: #404bbf;
}

/*Portfolio */

.menu-photo:hover .overlay,
.menu-photo:focus .overlay {
  transform: translateY(0);
}

.employer-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  letter-spacing: 0.02em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  overflow: auto;
  transform: translate(0px, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio {
  padding: 96px 0 120px;
}

.porfolio-button {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.porfolio-button-li {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-photo {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-photo:hover,
.menu-photo:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.button-all:hover,
.button-all:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-menu-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-menu-images-li {
  width: calc((100% - 48px) / 3);
}

.portfolio-menu-images-title {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Footer */
.footer {
  background: #2e2f42;
  padding: 100px 0;
  display: flex;
  align-items: baseline;
}

.footer-container {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-container-p {
  max-width: 264px;
}

.logo-footer {
  color: #f4f4fd;
}

.logo-footer-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-div {
  display: flex;
  align-items: baseline;
}

.footer-div-a-p {
  margin-right: 120px;
}

.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-social);
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
}

.footer-form-label {
  margin-right: 24px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  /* margin-left: 80px; */
}

.subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-social);
  margin-bottom: 16px;
}

.footer-svg {
  margin-left: 16px;
  fill: #ffffff;
}

.footer-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-ul {
  display: flex;
  gap: 16px;
}

.instagram {
  width: 40px;
  height: 40px;
}

.footer-subscribe {
  margin-left: 80px;
  width: 453px;
}

.instagram-a {
  width: 100%;
  height: 100%;
  background-color: var(--foter-icon);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instagram-a:hover,
.instagram-a:focus {
  background-color: #31d0aa;
}

.svg {
  fill: var(--foter-icon-svg);
}

/* ------------window---------- */

.window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.window-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 24px 24px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  background-color: #404bbf;
  border: none;
}

.button-modal-svg {
  fill: var(--secondary-text-color-theme-dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover .button-modal-svg {
  fill: #ffffff;
}
.button-modal:focus .button-modal-svg {
  fill: #ffffff;
}

.form-p {
  color: var(--modal-form-p);

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 16px;
}

.contact-form-field {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-label);
  margin-bottom: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4d5ae5;
}

.modal-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg:focus {
  fill: #4d5ae5;
}

.contact-form-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}

.contact-form-checkbox {
  appearance: none;
  position: absolute;
}

.modal-form-input-pp {
  margin-bottom: 24px;
}

.contact-form-input:focus + .modal-svg {
  fill: #4d5ae5;
}

.visually-hidden:checked + .modal-label-ceckbox > .modal-span {
  background-color: var(--modal-span-policy);
  border: none;
  fill: var(--accent-color);
  border-color: var(--modal-span-policy);
}

.form-span-policy {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  display: block;
  width: 18px;
  height: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-wrapper {
  position: relative;
}

.modal-labal-div {
  margin-bottom: 8px;
}

.modal-input {
  position: relative;
}

.contact-form-messege {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-messege:focus {
  border-color: #4d5ae5;
}

.contact-form-messege:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}

.modal-labal-div-comments {
  margin-bottom: 16px;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-label-ceckbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-chackbox);
}

.modal-span-a {
  color: var(--modal-policy);
}

.modal-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0px auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.border {
  border: 1px solid rgba(46, 47, 66, 0.4);
}

/* --------------------------------------- */

/* -------------------MOBILE----------------- */

@media screen and (max-width: 767px) {
  .section-one {
    background-image: url(../images/img-name-mobile.jpg);
  }

  .section-p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 396px;
    color: #434455;
  }

  .section-two-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
    text-transform: capitalize;
  }

  .section-two-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
  }

  .section-one-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    max-width: 320px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #ffffff;
  }

  .page-header {
    padding-top: 24px;
    padding-bottom: 22px;
  }

  .mobile-adress-link-tel {
    font-family: "Roboto", sans-serif;
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4d5ae5;
    margin-bottom: 40px;
    padding-left: 40px;
  }

  .social-media-icon-mobile {
    fill: #f4f4fd;
  }

  .social-media-link-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-media-list-mobile-item {
    width: calc((100% - 224px) / 4);
  }

  .social-media-list-mobile {
    display: flex;
    gap: 56px;
    padding-left: 40px;
  }

  .mobile-adress-link-email {
    font-family: "Roboto", sans-serif;
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    padding-left: 40px;
  }

  .mobile-adress-list {
    padding-bottom: 48px;
  }

  .mobile-menu-botton {
    margin-bottom: 40px;
  }

  .mobile-menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    padding-top: 80px;
    padding-left: 40px;
  }

  .mobile-menu-open-button-icon {
    fill: var(--secondary-text-color-theme-dark);
  }

  .adress {
    display: none;
  }

  /* .container-mobile {
    padding-left: 16px;
    padding-right: 16px;
    height: 70px;
  } */

  .page-header {
    padding-top: 26px;
    padding-bottom: 24px;
  }

  .burger {
    /* border: none; */
    /* border: 3px solid #2e2f42; */
    background-color: transparent;
    padding: 0;
    /* margin-right: 18px;
     */
    line-height: 0;
  }

  .display-header {
    display: flex;
    justify-content: space-between;
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    top: 0px;
    left: 0px;
    opacity: 0px;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-menu.is-open {
    opacity: 1px;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
  }

  .mobile-menu-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid #2e2f42;
    border-radius: 50%;
    padding: 0;
  }

  .menu {
    display: none;
  }

  .my-header-studio {
    color: #2e2f42;
  }
}

/* @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section-one {
    background-image: url(../images/img-name-mobile@2x.jpg);
  }
} */

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-name-mobile@2x.jpg);
  }
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin: 0 auto;
  }
}

/* -----------------TABLET---------------------- */
@media screen and (min-width: 768px) {
  .section-one {
    background-image: url(../images/img-name-tablet.jpg);
  }

  .burger {
    display: none;
  }

  .adress {
    font-style: normal;
    margin-left: auto;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-one {
    background-image: url(../images/img-name-tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ----------------DESCKTOP---------------------------- */
@media screen and (min-width: 1200px) {
  .section-one {
    background-image: url(../images/img-name.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .section-one {
    background-image: url(../images/img-name-descktop@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1157px) {
  .section-two-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .section-two-icon {
    display: none;
  }

  .section-two-icon {
    display: none;
  }
}
